<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="D&D 5e Character Creator" content="Tools to help play D&D 5th Edition">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>D&D Helper</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/style.css">
    <body>
        <header>
            <%- include('partials/header') -%>
        </header>

        <main>
            <h1>Characters: </h1>
            <ul class="characterList">
            <% for(let i=0; i < data.length; i++) {%>
                <li class="char">
                    <span>Name: <%= data[i].Name %></span>
                    <span>Race: <%= data[i].Race %></span>
                    <span>Subrace: <%= data[i].Subrace %></span>
                    <span>Class: <%= data[i].Class %></span>
                    <span>Alignment: <%= data[i].Alignment %></span>
                    <span>HP: <%= data[i].hp %></span>
                    <span>Speed: <%= data[i].speed %></span>
                    <span>Ability Scores: <%= data[i].abilityScoreArray %></span>
                    <span>Ability Score Modifiers: <%= data[i].abilityScoreMod %></span>
                    <span>Ability Score Rolls: <%= data[i].abilityScoresConst %></span>
                    <span>Saving Throws: <%= data[i].savingThrows %></span>
                    <span>Weapon Proficiencies: <%= data[i].weaponProf %></span>
                    <span>Armor Proficiencies: <%= data[i].armorProf %></span>
                    <span>Tool Proficiencies: <%= data[i].toolProf %></span>
                    <span>Proficiency Bonus: <%= data[i].profBonus %></span>
                    <span>Languages: <%= data[i].language %></span>
                    <span>Equipment: <%= data[i].equipment %></span>
                    <span>Traits: <%= data[i].Traits %></span>
                    <span>Ideals: <%= data[i].Ideals %></span>
                    <span>Bonds: <%= data[i].Bonds %></span>
                    <span>Flaws: <%= data[i].Flaws %></span>
                    <span>Description: <%= data[i].Description %></span>
                </li>
            <% } %>
        </main>

        <section>
            <p>All of the information is based on the information from the D&D 5e handbook. I do not own any of it and only on this website. All rolls are automatically randomized and done for you. If anything seems incorrect or if I should add something important, let me know <a href="https://aarkwright.netlify.app/">here</a></p>
 
            <section>
                <p>What is left for you to do:</p>
                <ol>
                    <li>Choose your equipment from the choices I gave you and remember to adjust your AC appropriately (armor from equipment + dex modifier). Your DM may or may not allow you to use your gold beforehand as well to purchase items. You can use this website to search for items and look up details about them <a href="https://www.dndbeyond.com/equipment">here</a>.</li>
                    <li>Write your background including your personality traits, ideals, bonds, and flaws. Based on that information, choose two skill proficiencies, a tool proficiency, and possibly add related equipment. Consult your DM regarding how many to choose/limitations. Example: Acolyte: Trait - I idolize a particular hero of my faith and constantly refer to that person's deeds and examples, Ideal - I hope to one day rise to the top of my faith's religious hierarchy, Bond - I owe my life to the priest who took me in when my parents died, Flaw - I judge others harshly and myself even more severely. Then your description would expand on these.</li>
                    <li>Read your race and class traits. They will tell you how many cantrips/spells you need to choose. You can look up the spells and cantrips <a href="http://dnd5e.wikidot.com/spells">here</a>. It will also tell you if you have to make other decisions like Dragonborn needing to choose what draconic ancestry they are a part of.</li>
                    <li>Find out what to do when you level up</li>
                </ol>
            </section>
 
            <section>
                <p>Future updates:</p>
                <ol>
                    <li>Make it easier to choose equipment by most likely adding the list of equipment you can choose from.</li>
                    <li>Add a way to search for the spells/skills that you can have to see details about them.</li>
                    <li>Add some general helpful information/links to help play.</li>
                    <li>Add information on how to level up each character or add the ability to have it done manually.</li>
                    <li>Add a little text-based game to test your character against enemies.</li>
                    <li>Find a way to put the information on a character sheet that is printable.</li>
                    <li>Start to expand the options by adding stuff like races and classes.</li>
                </ol>
            </section>
        </section>
    </body>
</html>